
spring:
  datasource:
    url: jdbc:h2:mem:usermgmtdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  h2:
    console:
      enabled: true

server:
  port: 8080

app:
  jwt:
    secret: "change-this-super-secret-key-for-hmac256"
    expiryMinutes: 60
